.profileScreen {
    height: 100vh;
    color: #fff;

    .profileScreen__body {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 8%;
        max-width: 800px;

        @media only screen and (max-width: $bp-medium-1){
            padding-top: 20%;
            width: 80%;
        }

        @media only screen and (max-width: $bp-small-3){
            width: 85%;
            padding-top: 30%;
        }

        h1 {
            font-size: 60px;
            font-weight: 400;
            border-bottom: 1px solid #282c2d;
            margin-bottom: 20px;

            @media only screen and (max-width: $bp-medium-1){
                font-size: 40px;
            }

            @media only screen and (max-width: $bp-small-3){
                font-size: 35px;
            }
        }

        .profileScreen__info {
            display: flex;

            img {
                height: 100px;

                @media only screen and (max-width: $bp-small-1){
                    height: 80px;
                }

                @media only screen and (max-width: $bp-small-3){
                    width: 70px;
                }
            }

            .profileScreen__details {
                color: #fff;
                margin-left: 25px;
                flex: 1;

                h2 {
                    background-color: grey;
                    padding: 15px;
                    font-size: 15px;
                    padding-left: 20px;

                    @media only screen and (max-width: $bp-small-3){
                        padding: 10px;
                    }
                }

                .profileScreen__signOut {
                    padding: 10px 20px;
                    font-size: 1rem;
                    margin-top: 5%;
                    width: 100%;
                    color: #fff;
                    background-color: $netflix-red;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }
            }
        }
    }
}

.profileScreen__plans {
    margin-top: 20px;
    
    h3 {
        border-bottom: 1px solid #282c2d;
        padding-bottom: 10px;
    }
}