$netflix-red : #e50914;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.app {
    background-color: #111;
    min-height: 100vh
}

@import './homescreen';
@import './nav';
@import './banner';
@import './row';
@import './loginscreen';
@import './storycards';
@import './signupscreen';
@import './loginfooter';